body{
    background-color: #dddbdb;
    font-family: 'Assistant', sans-serif;
    color: #008037;
}

//NAVBAR
.navbar{
    border-radius: 40px;
    height: 75px;
}
.navbar-brand {
    img {
        max-height: 50px;
    }
}

.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #008037;

            &.active{
                font-weight: bold;
                color: #008037 !important;
            }
        }
    }
}

.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
    margin-right: -19px !important;

    height: 75px;
    width: 100px;
    border-radius: 40px;
}


.btn-login{
    background-color: #008037;
    color: #ffffff;

    &:hover{
        background-color: #00a547;
        color: #ffffff;
    }
}

//HEADER
header{
    padding: 180px 0 165px;
    margin-top: -80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('../images/header.jpg');
    background-size: cover;

    h1, p{
        color: #ffffff;
    }

    h1{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p{
        font-size: 22px;
    }

    .btn-get-started{
        background-color: #ff2600;
        color: #ffffff;
        border-radius: 40px;

        &:hover{
            background-color: #ff401e;
            color: #ffffff;
        }
    }
}


//STATS
.section-stats{
    margin-top: -50px;
    
    .stats-detail{
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;
    }

    h2{
        font-size: 30px;
        margin-bottom: 0;
    }

    p{
        font-size: 20px;
        font-weight: lighter;
    }
}


//SECTION BEST SELLER
.section-bestseller{
    min-height: 540px;
    background-color: #004e22;
    margin-top: -50px;
    margin-bottom: -230px;

    .section-bestseller-heading{
        margin-top: 150px;

        h2,p{
            color: #ffffff;
        }

        h2{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p{
            font-size: 18px;
        }
    }
}

//SECTION BEST SELLER CONTENT
.section-bestseller-content{
    .section-bestseller-fish{
        .card-fish{
            min-height: 380px;
            background-color: #000000;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
            border-radius: 20px;
        }

        .fish-name{
            font-size: 18px;
            color: #ffffff;
        }

        .fish-button{
            .btn-fish-details{
                background-color: #ff2600;
                color: #ffffff;
                border-radius: 40px;

                &:hover{
                    background-color: #ff4828;
                    color: #ffffff;
                }
            }
        }
    }
}

//SECTION TESTIMONI HEADING
.section-testimonial-heading{
    background: linear-gradient(#dddbdb, rgba(0, 0, 0, 0));
    padding-top: 50px;
    min-height: 506px;

    h2{
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
    }

    p{
        font-size: 18px;
    }
}

//SECTION TESTIMONI CONTENT
.section-testimonial-content{
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial{
        padding: 40px 20px 10px;
        border-radius: 10px;
        margin-bottom: 20px;

        .testimonial-content{
            min-height: 380px;

            .userImg{
                width: 120px;
                height: 120px;
                object-fit: cover;
            }
        }

        h3{
            font-size: 22px;
        }

        .testimonial{
            font-weight: 200;
            font-size: 26px;
            color: #6e6e6e;
            min-height: 160px;
        }

        .which-fish{
            font-weight: normal;
            font-size: 22px;
            color: #6e6e6e;
        }

        hr{
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .btn-choose-fish{
        background-color: #ff2600;
        color: #ffffff;
        border-radius: 40px;

        &:hover{
            background-color: #ff401e;
            color: #ffffff;
        }
    }

    .btn-need-help{
        background-color: #f2f2f2;
        color: #c3c3c3;
        border-radius: 40px;

        &:hover{
            background-color: #ffffff;
            color: #c3c3c3;
        }
    }
}

//FOOTER
.section-footer{
    a{
        color: #004e22;
    }
}